/* Default styles for larger screens */
h1 {
    font-size: 30vw;
    text-align: center;
    margin: 20px 0;
    line-height: 1.2;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: auto;
}

canvas {
    display: none;
}

video {
    width: 30%;
    height: auto;
    margin: 10px;
}

/* For tablets (width below 768px) */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
    }

    h1 {
        font-size: 120vw;
    }

    video {
        width: 90%;
    }
}

/* For mobile phones (width below 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 150vw;
        margin-top: 20px;
    }
}
